/* signup section changes*/




/*footer */

footer .container{
	width: 95%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row; 
	-webkit-box-align: baseline; 
	    -ms-flex-align: baseline; 
	        align-items: baseline;
	margin-left: 2%;
	margin-right: 2%;
}


.copyright{
	text-align: left;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	-webkit-box-align: stretch;
  	    -ms-flex-align: stretch;
  	        align-items: stretch;
  	-webkit-box-pack: end;
  	    -ms-flex-pack: end;
  	        justify-content: flex-end;
}

.social ul {
	list-style: none;
	margin-right: 5%;
	line-height: 1.5;
	text-align: left;
}

.social li {
	display: block;
}


.social a{
	display: inline-block;
	visibility: visible;
	color: white;
	text-decoration: none;
	text-align: left;
   	line-height: 1;
   	font-size: 1rem;
}

.social li:hover a, 
.social li:hover i {
	color: #e2574c;
}

/*social icons*/
.fa{
	color: white;
	font-size: 16px;
	margin-right: 10px;
}



/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*Below is for the Desktop*/
@media screen and (min-width: 1240px) {

header {
	width: 85%;
	padding-top: 1rem;
	margin: 0 auto 0 auto;
}

.hand-crafted p{
	width: 45%;
}

.carousel-cell {
  width: 25%;
}

input[type=email] {
width: 19%;
}
} /*closing tag for the @media */