

/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/





/***********************************************/





/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*Below is for the Tablet*/
@media screen and (min-width: 600px) {

p {
	font-size: 16px;
}

h2 {
	font-size: 1.5rem;
	
}

h3 {
	font-size: 3.5rem;
}

.container {
	margin: 0 auto;
	min-width: 600px;
}

header {
	height: 115px;
}

header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.logo {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 10%;
	        flex: 1 1 10%;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	-webkit-box-ordinal-group:2;
	    -ms-flex-order:1;
	        order:1;
}	

.navigation {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%; 
	-ms-flex-item-align: center; 
	    -ms-grid-row-align: center; 
	    align-self: center;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	border:none;

}

.cart {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 10%;
	        flex: 1 1 10%;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	-webkit-box-ordinal-group: 4;
	    -ms-flex-order: 3;
	        order: 3;
}

.hand-crafted p {
	font-size: 1.1rem;
	width: 50%;
}

.carousel-cell {
  width: 50%;
}

/******************************************/
.mens {
	-ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
}

.trends {
	-ms-flex-preferred-size: 25%;
	    flex-basis: 25%;
}

.glasses {
	-ms-flex-preferred-size: 25%;
	    flex-basis: 25%;
}

.sale {
	-ms-flex-preferred-size: 25%;
	    flex-basis: 25%;
}

.bags {
	-ms-flex-preferred-size: 25%;
	    flex-basis: 25%;

}
.womens {
	-ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
}


/* signup section changes*/

.signup p {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
input[type=email] {
	font-size: 1rem;
	width: 27%;
}



button {
	font-size: 1rem;
}


/*footer */

footer .container{
	width: 95%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row; 
	-webkit-box-align: baseline; 
	    -ms-flex-align: baseline; 
	        align-items: baseline;
	margin-left: 2%;
	margin-right: 2%;
}


.copyright{
	text-align: left;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	-webkit-box-align: stretch;
  	    -ms-flex-align: stretch;
  	        align-items: stretch;
  	-webkit-box-pack: end;
  	    -ms-flex-pack: end;
  	        justify-content: flex-end;
}

.social ul {
	list-style: none;
	margin-right: 5%;
	line-height: 1.5;
	text-align: left;
}

.social li {
	display: block;
}


.social a{
	display: inline-block;
	visibility: visible;
	color: white;
	text-decoration: none;
	text-align: left;
   	line-height: 1;
   	font-size: 1rem;
}

.social li:hover a, 
.social li:hover i {
	color: #e2574c;
}

/*social icons*/
.fa{
	color: white;
	font-size: 16px;
	margin-right: 10px;
}

} /*closing tag for the @media */

/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*Below is for the Desktop*/
@media screen and (min-width: 1240px) {

header {
	width: 85%;
	padding-top: 1rem;
	margin: 0 auto 0 auto;
}

.hand-crafted p{
	width: 45%;
}

.carousel-cell {
  width: 25%;
}

input[type=email] {
width: 19%;
}
} /*closing tag for the @media */