
/*This is about everything in the banner*/
.banner {
	display: flex;
    align-items: center;
	height: 395px;
	background: 
	    $image-gradient,
		url("../../images/banner-girl.png") no-repeat center center, 
		url("../../images/flower-bkgd.jpg") repeat-x center top;
	background-size: contain, contain, cover;
	/*position: relative;*/
	background-position-y: 0px, 55px, 0px;

	@include tablet {
		height: 550px;
	}
	@include desktop {
		background-size: cover, 250px 615px, contain;
	}
}


.banner-text-container {
	color: white;
	text-align: center;
	width: 95%;
	/*position: absolute;*/
	flex-direction: column;
	display: flex;
	/*display: -webkit-flex;*/
	justify-content: center;
}


/* this is for the NEW COLLECTION in the banner */
h2 {
	font-size: 1.1rem;
	font-family: $body-font-family;
	padding-bottom: 3%;
	text-transform: uppercase;
	font-weight: bold;
    font-style: normal;
    text-shadow: $text-shadow;

	@include tablet {
		font-size: 1.25rem;
	}
}

/*main title in the banner*/
h3 {
	font-size: 2.5rem;
	font-family: $headings-font-family;
	font-weight: normal;
    font-style: normal;
    text-shadow: $text-shadow;

	@include tablet {
		font-size: 3.5rem;
	}
}