
/*This is about everything in the hand-crafter section */
.hand-crafted{
	text-align: center;
	margin: 60px 0;
	p{
		width: 80%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
}
.carousel-cell{
	width: 50%;
}

