
/*this is the most-loved products section*/
.most-loved{
	text-align: center;
	margin: 60px 0;
		p {
			text-transform: uppercase;
			color: $light-grey;
	}
}

.carousel-cell {
  width: 100%;
  height: auto;
}
