
.productline {
	display: flex;
	flex-flow: row wrap;
		div {
			box-sizing: border-box;
			border: 2px solid white;

		.product-name {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;

			a {
				color: white;
				text-decoration: none;
				font-size: 1.7rem;
				text-transform: uppercase;
				font-family: $body-font-family;
				font-weight: bold;
				font-style: normal;
				text-shadow: $text-shadow;
				@include tablet {
					font-size: 2rem;
				}
		
				&:hover {
					color: #e5dba7;
				}
			}
		}
	}

.wide {
    width: 100%;
	position: relative;
	&::before {
		content: "";
		display: block;
		padding-top: 50%;
	}
	@include tablet {
		flex-basis: 50%;
	}
}


.narrow {
	width: 50%;
	position: relative;
	&::before {
		content: "";
		display: block;
		padding-top: 100%;
	}
	@include tablet {
			flex-basis: 25%;
	}
}



.mens {     
	background-image: $image-gradient, url("../../images/mens-category.jpg");
	@include productline-image;	
	}

.trends {	        
	background: $image-gradient, url("../../images/trends-category.jpg");
	@include productline-image;	
}

.glasses {	        
	background: $image-gradient, url("../../images/glasses-category.jpg");
	@include productline-image;	
}

.sale {
	background: $image-gradient, url("../../images/sale-category.jpg");
	@include productline-image;	

}

.bags {
	background: $image-gradient, url("../../images/bags-category.jpg");
	@include productline-image;	
}
.womens {
	background: $image-gradient,url("../../images/womens-category.jpg");
	@include productline-image;	
}

}