
/*this is the sign up for updates section*/
.signup{
	display: flex;
	align-items: center;
	height: 367px;
	width: 100%;
	background: $image-gradient, url("../../images/wave-bkgd.jpg") no-repeat center bottom;
	background-position-y: -510px; 
	@include section-title;

	/*the text container before the form*/
	.signup-text-container {
		text-align: center;
		width: 100%;
		align-self: center;
		@include section-description;
		h4, p{
			color: white;
		}
	}
}



form {
	width: 100%;
	margin-top:5%;
    margin-left: auto;
    margin-right: auto;
	position: relative;
}

.signup_form {
	width: 80%;
	display: block;
    margin: 2rem auto 0;
    position: relative;
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
    padding: 10px;
		input[type=email] {
			padding: .5rem 1.75rem;
			padding-right: 150px;
			width: 100%;
			font-size: 0.9rem;
			font-family: $body-font-family;
			border:none;  	
	}

	@include tablet {
		width: 55%;
	}
	@include desktop {
		width: 45%;
	}
}




/*.subscribe button*/ 
button {
	background-color: $brand-orange;
	border-radius: 50px;
	border: 1px solid $brand-orange;
	color: white;
	font-size: 0.8rem;
    font-family: $body-font-family;
    cursor: pointer;
	padding: .25rem 1.5rem;
    position: absolute;
	line-height: 2.3;
    right: .25rem;
    top: .16rem;
		&:hover{
		background-color: $link-hover;

		}
}





.signup p {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
input[type=email] {
	font-size: 1rem;
	width: 27%;
}



button {
	font-size: 1rem;
}