body {
	color: #2d2d2d;
}

/*takes care of the sections*/
.container {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

/* this is used in all the long texts as well as pricing and item type */
p {
   font-size: 14px;
   line-height: 2.25;
   color: #2d2d2d;
   font-family: 'ralewaylight';
   padding-top: 1%;
}

/*main title in the banner*/
h1 {
	font-size: 2.5rem;
	font-family: 'playfair_displayregular';
}

/* Clothing item name in the most-loved section*/
h2 {
	font-size: 1.3rem;
	font-family: 'playfair_displayregular';
}

/* this is for the NEW COLLECTION in the banner */
h3 {
	font-size: 1rem;
	font-family: 'ralewaymedium';
	padding-bottom: 1%;
	text-transform: uppercase;
}


img{
	height: auto;
	max-width: 100%;
}


/*This is about everything in the header*/

header{
	width: 100%;
	height: 130px;	
}

header .container {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin: 2% 0 0% 4%;
	width: 90%;
}

.logo {
	flex: 1 1 50%;
	align-self: flex-start;
	order: 1;
}

.navigation {
	flex: 1 1 50%; 
	align-self: center;
	order: 3;
	text-align: center;
	border-top: 1px solid #d7d7d7;
}

.navigation ul{
	padding-top: 4%;
	padding-bottom: 3%;
	text-align: center;
}

.navigation a {
	color: #e2574c;
	text-decoration: none;
}

.navigation li {
	display: inline-block;
	font-size: 1.1rem;
	text-decoration: none;
	margin-right: 4%;
	text-transform: uppercase;
}

.cart {
	flex: 1 1 50%;
	align-self: flex-end;
	order: 2;
	text-align: right;
}


.logo img{
    max-width: 160px;
    height: auto;
}

.cart img{
    max-width: 65px;
    height: auto;
}

/*This is about everything in the banner*/
.banner {
	height: 550px;
	background: 
	    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
		url("images/banner-girl.png") no-repeat center center, 
		url("images/flower-bkgd.jpg");
	background-size: contain, contain, cover;
	position: relative;
	background-position-y: 0px, 55px, 0px;
}


.banner-text-container {
	color: white;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}


/*This is about everything in the hand-crafter section */
.hand-crafted{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.hand-crafted p{
	width: 80%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.carousel-cell{
	width: 50%;
}

.italictitle {
	font-family: 'playfair_displayitalic';
	font-size: 2.5rem;
}
.boldtitle {
	font-family: 'playfair_displaybold';
	font-size: 2.5rem;
}

/***********************************************/

.productline {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.productline div {
	box-sizing: border-box;
  	border: 5px solid white;
}

.productline a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
	font-family: 'ralewaymedium';
	display: flex;
	align-items: center;
}

.mens {
	display: flex;
	flex: 2 0 100%;
	max-width: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
	url("images/mens-category.jpg") no-repeat;
	background-size: cover;
	justify-content: center;
	background-position: center;
}

.trends {
	display: flex;
	flex: 1 0 50%;
	max-width: 50%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
	url("images/trends-category.jpg") no-repeat;
	background-size: cover;
	justify-content: center;
}

.glasses {
	display: flex;
	flex: 1 0 50%;
	max-width: 50%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
	url("images/glasses-category.jpg") no-repeat;
	background-size: cover;
	justify-content: center;
}

.sale {
	display: flex;
	flex: 1 0 50%;
	max-width: 50%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
	url("images/sale-category.jpg") no-repeat;
	background-size: cover;
	justify-content: center;

}

.bags {
	display: flex;
	flex: 1 0 50%;
	max-width: 50%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
	url("images/bags-category.jpg") no-repeat;
	background-size: cover;
	justify-content: center;
}
.womens {
	display: flex;
	flex: 2 0 100%;
	max-width: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
	url("images/womens-category.jpg") no-repeat;
	background-size: cover;
	justify-content: center;
}
/*this is the most-loved products section*/
.most-loved{
	text-align: center;
	margin: 60px 0 60px 0 ;
}

.most-loved p {
	text-transform: uppercase;
	color: #969696;
}

.most-loved h2{
	color: #e2574c;
}

.carousel-cell {
  width: 100%;
  height: auto;
}


/*this is the sign up for updates section*/
.signup{
	height: 367px;
	width: 100%;
	background: url("images/wave-bkgd.jpg");
	background-position-y: -510px; 
	position: relative;
}

/*the text container before the form*/
.signup-text-container {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.signup span,.signup p{
	color: white;
}


form {
	width: 100%;
	margin-top:2%;
    margin-left: auto;
    margin-right: auto;
}

.signup_form {
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
    padding: 1%;
}

input[type=email] {
	width: 45%;
	font-size: 0.8rem;
   	font-family: 'ralewaylight';
   	margin-left: 1%;
   	border:none;
}

/*.subscribe button*/ 
button {
	background-color: #e2574c;
	border-radius: 50px;
	border: 1px solid #e2574c;
	color: white;
	font-size: 0.8rem;
    font-family: 'ralewaylight';
    margin-top: -1%;
    margin-right: -0.8%;
    padding: 0.8%;
    cursor: pointer;
}




/*this is for the footer */
footer {
	background-color: #242424; 
	width: 100%;
	height: 250px;
   	margin-left: auto;
   	margin-right: auto;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}


footer .container {
	height: 250px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.copyright {
	text-align: center;
	display: flex;
	flex-direction: column;
 	flex: 1;
}
.social {
	display: flex;
  	justify-content: center;
 	align-items: center;
 	flex: 1;
}

/* copyright and address data */
.copyright a, .copyright p{
	color: white;
	line-height: 1.25;
} 

.copyright span {
	color: #969696;
	line-height: 1.25;
}

.social li {
	display: inline-block;
} 

.social a{
	display: none;
	visibility: hidden;
}
.social li i {
	display: inline;
}

.social li:hover i {
	color: #e2574c;
}

/*social icons*/
.fa{
	color: white;
	font-size: 16px;
	margin-right: 10px;
}

/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*Below is for the Tablet*/
@media screen and (min-width: 600px) {

p {
	font-size: 16px;
}

h1 {
	font-size: 3.0rem;
}

h2 {
	font-size: 1.8rem;
}

.container {
	margin: 0 auto;
	min-width: 600px;
}

header {
	height: 115px;
}

header .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo {
	flex: 1 1 10%;
	align-self: flex-start;
	order:1;
}	

.navigation {
	flex: 1 1 50%; 
	align-self: center;
	order: 2;
	border:none;

}

.cart {
	flex: 1 1 10%;
	align-self: flex-end;
	order: 3;
}

.hand-crafted p {
	width: 50%;
}

.carousel-cell {
  width: 50%;
}

/******************************************/
.mens {
	flex-basis: 50%;
}

.trends {
	flex-basis: 25%;
}

.glasses {
	flex-basis: 25%;
}

.sale {
	flex-basis: 25%;
}

.bags {
	flex-basis: 25%;

}
.womens {
	flex-basis: 50%;
}


/* signup section changes*/

.signup p {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
input[type=email] {
	font-size: 1rem;
	width: 27%;
}

button {
	font-size: 1rem;
}


/*footer */

footer .container{
	width: 95%;
	display: flex;
	justify-content: space-between;
	flex-direction: row; 
	align-items: baseline;
	margin-left: 2%;
	margin-right: 2%;
}


.copyright{
	text-align: left;
}

.social {
	display: flex;
  	align-items: stretch;
  	justify-content: flex-end;
}

.social ul {
	list-style: none;
	margin-right: 5%;
	line-height: 1.5;
	text-align: left;
}

.social li {
	display: block;
}


.social a{
	display: inline-block;
	visibility: visible;
	color: white;
	text-decoration: none;
	text-align: left;
   	line-height: 1;
   	font-size: 1rem;
}

.social li:hover a, 
.social li:hover i {
	color: #e2574c;
}

/*social icons*/
.fa{
	color: white;
	font-size: 16px;
	margin-right: 10px;
}

} /*closing tag for the @media */

/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*Below is for the Desktop*/
@media screen and (min-width: 1240px) {

.hand-crafted p{
	width: 45%;
}

.carousel-cell {
  width: 25%;
}

input[type=email] {
width: 19%;
}
} /*closing tag for the @media */